/*$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;*/

.padded{
  padding:2em;  
}

.page{
  max-width: 1000px;
  margin:auto;
}
.sbsWrapper{
  display: flex;
  flex-wrap: wrap;
}
.sbsColumn{
  composes:padded;
  flex:1 0 400px;
  width:400px;
  overflow: hidden;
  overflow-wrap: break-word;
}

.codeWrapper{
  background:#002b36;
  color:#93a1a1;
  overflow: scroll;
}

.writeUp{
  color: #333;
  font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
}

.topWriteUp{
  composes:writeUp padded;
}